{% extends "base.html" %}

{% block content %}

<h2>{{ event.name }}</h2>
<p> Event Categories </p>
    {% for cat in event.categories.all %}
        <p> {{ cat.name }}</p>
        {% endfor %}
<p> Location </p>
<p>{{ event.location }}</p>
<p> Venue </p>
<p>{{ event.venue }}</p>
<p> Start Time </p>
<p>Starts at: {{ event.start_time }}</p>
<p> Finish Time </p>
<p>Ends at: {{ event.end_time }}</p>
<p>{{event.host.username}}</p>

{% if user.is_authenticated %}
   {% if user.pk == event.host.pk %}
       <a href="{% url 'eventFinderApp:editevent' event.id %}"><button id="editevent">+ Edit details</button></a>
   {% else %}
       <p>Contact {{event.host.username}} if you would like to change event details</p>
       {% endif %}
{% else %}
   <p><a href="{% url 'login' %}">Login to edit this event</a></p>
{% endif %}

{% endblock %}